#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.order-detals {
  padding-top: 100px;
}

.coffee-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.Items-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.button {
  color: black;
  border: 1px solid yellowgreen;
}

button:hover {
  color: red;
  background-color: #1a1a1a;
}

img {
  width: 80px ;
}
